<!DOCTYPE html>
<html>
    <head>
        <title>task2</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <h2> {{title}} </h2>
        <div class="div1">
            <form id="form1">
                <input type="text" id="inp" placeholder="Enter a City name ...">
                <button>Search for Weather</button>
            </form>

            <p id="city"></p>
            <p id="country"></p>
            <p id="longitude"></p>
            <p id="latitude"></p>
            <p id="forecast"></p>
            <p id="error"></p>
        </div>

        <script src="js/script.js"></script>
    </body>
</html>